DOMAIN
(Xs, Xe, Xn) -4.0 4.0 64
(Ys, Ye, Yn) -4.0 4.0 64
(Zs, Ze, Zn) -4.0 4.0 64

GPU DOMAIN DECOMPOSITION
DEV RANGE 1 1
n 1
(Xs, Xe, Xn) -4.0 4.0 64
(Ys, Ye, Yn) -4.0 4.0 64
(Zs, Ze, Zn) -4.0 4.0 64
E -1 W -1 N -1 S -1 T -1 B -1

PHYSICAL PARAMETERS
rho_f 1
nu 0.5

SIMULATION PARAMETERS
duration 10.
CFL 0.5
pp_max_iter 1000
pp_residual 1e-6

BOUNDARY CONDITIONS
PRESSURE
bc.pW PERIODIC
bc.pE PERIODIC
bc.pS PERIODIC
bc.pN PERIODIC
bc.pB PERIODIC
bc.pT PERIODIC
X-VELOCITY
bc.uW PERIODIC
bc.uE PERIODIC
bc.uS PERIODIC
bc.uN PERIODIC
bc.uB PERIODIC
bc.uT PERIODIC
Y-VELOCITY
bc.vW PERIODIC
bc.vE PERIODIC
bc.vS PERIODIC
bc.vN PERIODIC
bc.vB PERIODIC
bc.vT PERIODIC
Z-VELOCITY
bc.wW PERIODIC
bc.wE PERIODIC
bc.wS PERIODIC
bc.wN PERIODIC
bc.wB PERIODIC
bc.wT PERIODIC

SOLVABILITY ENFORCEMENT PLANE
out_plane TOP

SIMULATION DRIVING CONDITIONS
turbA 3.
